.flex-container{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    flex-flow:row;
    justify-content: flex-start;
    height:200px;
    background-color:grey;
    color:white;
    border: 2px solid white;
}