body 
    {
        background-color: #1f2e44;
    }
* {
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: #ffffff;
    font-weight: bold;
    text-decoration: underline;
    font-size: xx-large;
    margin: 100px 50px 15px;
}
h2 {
    color: #d3d3d3;
    font-weight: bold;
    font-size: x-large;
    margin: 50px 100px 15px;
}
h3 {
    color: #bebebe;
    font-weight: bold;
    text-decoration: overline;
    font-size: xx-large;
    margin: 25px 150px 15px;
}
p {
    color: whitesmoke
}
.h1p {
    margin: 10px 50px 15px;
}
.h2p {
    margin: 10px 100px 15px;
}
.h3p {
    margin: 10px 150px 15px;
}
ul {
    color: #ffffff;
    font-style: italic;
}
.h1ul {
    margin: 10px 100px 15px;
}
.h2ul {
    margin: 10px 150px 15px;
}
.h3ul {
    margin: 10px 200px 15px;
}
a:link {
    color:#b9b9b9;
    text-decoration: none;
}
a:visited {
    color:#525252;
    font-style: italic;
}
a:hover {
    color:#ffffff;
    font-weight: bold;
}